html body {
	height: 100%;
	font-family: 'Quicksand', sans-serif;

}

body {
	padding-bottom: 20px;
	position: relative;
}

body p {
	font-size: 18px;
}

h1 {
	font-family: 'Maven Pro', sans-serif;
	text-align: left;
}

#content {
	padding-bottom: 50px;
	width: 100%;
}

.container-fluid {
	padding-bottom: 10px;
	padding-top: 10px;
}

.container .hero {
	height: 100%;
}

.jumbotron {
	background: #000 url('../img/hero.png') top center;
	min-height: 90vh;
	background-size: cover;
	overflow: hidden;
		
}

#intro {
	padding: 40px;
}

p.sectioncopy {
	margin-left: 20px;
	padding: 10px;

}

h1.introcopy {
	font-family: 'Indie Flower', cursive;
	text-align: left;
}

img.intro {
	float: left;
	display: inline-block;
	margin: 10px 20px 10px auto;
	border-radius: 50%;
	width: 225px;
	height: 225px;
}

#portfolio, #about, #services {
	padding: 40px;
}

#intro, #about {
	background: url(../img/blu.jpg);
	background-size: cover;
	padding-left: 70px;
}

#contact {
	padding: 40px;
}

.totop {
	float: right;
	text-decoration: underline;
	color: #fff;
	font-size: 14px;
}

div.navbrand {
	padding-bottom: 30px;
	margin:auto;
	height: 50px;
}

/* Centers profile image and header on smaller viewports */
@media screen and (max-width: 555px) {
	img.intro {
		float: none;
		margin: 20px auto;
		position: relative;
		max-width: 80%;
		top: 10%;
		left: 10%;
		width: 80%;
		height: auto;
		border-radius: 50%;
	}

	h1.introcopy {
		text-align: center;
	}

	#intro, #portfolio, #about, #services, #contact {
		padding: 15px;
	}

	#about {
		padding-left: 45px;
	}
} /*media query end bracket */

/* ----------------------Foundation Footer------------------------ */

.row {
  max-width: 1200px; }

.footer {
  background-color: #234250;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; 
  margin-bottom: 40px;
}
 
  .footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #234250;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; 
}

  .footer .contact {
    	list-style-type: none;
    	margin: 0;
    	text-align: left;
    	color: #fff;
}

  .footer .contact li {
      	margin-bottom: 2rem; 
}
      
  .footer .contact li p {
        padding-left: 5rem;
}

   .footer .contact i {
      position: absolute;
      background-color: #234250;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em;
}

  .footer .copywrite {
    color: #fff;
    font-size: 12px;
    margin: 0 0 1rem 0; 
}

  .footer .about {
    color: #92999f;
    font-size: 1rem;
    margin: 0 0 1rem 0; 
}

  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 1rem; 
}

    .footer .footer-links a::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem; 
}

    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; 
}

  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }

.logo {
  color: #fff;
  font-size: 1.5rem; 
}

  .logo i {
    margin-right: 0.5rem; 
}

   
.logo {
  color: #fff;
  font-size: 1.5rem;
  
  i {
    margin-right: 0.5rem;
  }
}

.social, a.social {
	color: #fff;
}

a.social {
	text-decoration: underline;
}

p.copywrite {
	font-size: 14px;
	display: inline;
	float:left;
}


/* ---------------------------------SCSS-------------------------------- */
SCSS
.row {
  max-width: 1200px;
}

.footer {
  background-color: #234250;
  text-align: left;
  font-size: 36px;
  color: #fff;
  padding: 3rem;
  
  .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #234250;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0;
  }
  
  .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff;
    
    li {
      margin-bottom: 2rem;
      
      p {
        padding-left: 5rem;
      }
    }
    
    i {
      position: absolute;
      background-color: #234250;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em;
      width: 20px;
      height: 20px;
    }
  }
  
  .copywrite {
    color: #8f9296;
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
  
  .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }

  	ul.sectioncopy {
 		font-size: 14px;
 		padding-left: 60px;
 }
  
  @media only screen and (min-width: 40.063em) {
    
    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .contact {
      text-align: left;
      > i {
        margin-right: 1rem;
      }
    }
    
  }
}
 .container .touch {
 	padding-bottom: 20px;
 }

p.li {
   font-size: 16px;    
}
 
